# Segredos
.env
**/.env

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
build/
dist/

# Ferramentas
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/
.langgraph_api/

# Sistema
.DS_Store

CLAUDE.md
GEMINI.md

tests/

.agents/
.claude/
.deepeval/

notebooks/
padrao/

MEDICOES.md
NOTAS.md